html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1a1f1e;
    color: #d4d4d4;
}

.container {
    flex: 1;
}

/*.navbar {
    background-color: #252c2a;
}*/

.navbar {
    background-color: #252c2a; !important;
    border-bottom: 2px #3a453f;
}

.navbar .nav-link {
    color: #d4d4d4 !important;
}

.navbar .nav-link:hover {
    color: #a4e7c3;
}

.navbar-brand{
    color:white;
}
.navbar-brand:hover {
    color: #a4e7c3 !important;
}
